html {
    background: #d6d4d1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: initial;
    width: 15em;
}

h1 {
    text-align: center;
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
}

button {
    text-align: center;
    font-size: 2em;
    font-family: Garamond, serif;
    border-radius: 0.3em;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
 
button:hover {
    background-color: #c79576;
    color: white;
}