body {
    background-image: linear-gradient(to right , #e9e9ff, #ddffea);
}

.info{
    font-family: DejaVu Sans Mono, monospace;
    background-image: linear-gradient(to right , #e8fdf9, #fcf1ff);
    font-size: 1.5em;
    width: 40%;
    margin: 10px auto;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.07em;
    padding-bottom: 0.07em;
    border-radius: 0.7em;
}
.info:hover {
    box-shadow: 5px 0px 20px rgba(31, 31, 31, 0.2);
}

.greetings{
    font-size: 1.5em;
    width: 40%;
    margin: 10px auto;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.07em;
    padding-bottom: 0.07em;
}

.date{
    font-family: OCR A Std, monospace;
    font-weight: bold;
    font-style: oblique;
    font-size: 1.5em;
    width: 40%;
    margin: 10px auto;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.07em;
    padding-bottom: 0.07em;
}

.comments{
    /* modified from https://zhuanlan.zhihu.com/p/476545697 */
    --background:linear-gradient(to right,rgb(65, 63, 128),#60ada8 70%,rgb(87, 122, 177));
    --font-color:linear-gradient(to right,rgba(112, 18, 120, 0.589),rgb(20, 20, 198),rgb(76, 61, 215));
    display: inline-block;
    font-size:var(--font-size);
    font-weight: bold;
    padding: calc(var(--font-size) * 0.25);
    background:var(--font-color),var(--background);
    -webkit-background-clip: text,border-box;
    -webkit-text-fill-color: transparent;
    background-clip: text,border-box;
    color: transparent;
    --background:transparent!important;
}

.button-container {
    display: flex;
    justify-content: center;
  }
  
.page-btn {
    font-family: OCR A Std, monospace;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height */
    border-radius: 50%; 

    transition: background-color 0.3s;
    user-select: none;
}

.current-page {
    background: linear-gradient(#6ddbef 0%, #a6c7ef 100%); /* Replace with your desired gradient colors */
    /* adjust transparency */
    opacity: 0.5;
    color: #FFFFFF; /* Replace with your desired text color */
    border-radius: 50%;
}

.page-btn:hover {
    color: #FFFFFF; /* Replace with your desired hover text color */
    border-radius: 50%;
}

/* make the CSS for dot class */
/* make dot  lower*/
.dot{
    font-family: OCR A Std, monospace;
    font-style: oblique;
    font-size: 1.5em;
    user-select: none;
    padding-top: 7px;
    text-align: center;
}